# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store
._*

# Dependencies
/build/
/dist/
/downloads/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/wheels/
/share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Temp files
*.log
*.tmp
*.swp
*~
