annotated-types==0.7.0
argcomplete==3.6.2
attrs==25.3.0
btrfsutil==6.15
cffi==1.17.1
click==8.2.1
colorama==0.4.6
cryptography==45.0.5
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
filelock==3.18.0
GDAL==3.11.3
Glances==4.3.3
lensfun==0.3.4
lit==20.1.0.dev0
meson==1.8.3
nftables==0.1
numpy==2.3.2
orjson==3.11.1
packaging==25.0
pipx==1.7.1
platformdirs==4.3.8
psutil==7.0.0
pyaml==24.12.0
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyGObject==3.52.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6_sip==13.10.2
PyYAML==6.0.2
QScintilla==2.14.1
Reflector==2023.6.28.0.36.1
shtab==1.7.2
smbus==1.1
TBB==0.2
termcolor==2.5.0
tldr==3.4.1
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
userpath==1.9.2
wheel==0.45.1
